body {
  min-width: 1200px;
  background: #f6f7fb;
}

header {
  width: 100%;
  height: 80px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 6px #cccccc;
  box-shadow: 0px 3px 6px #cccccc;
}

header #header__box {
  position: relative;
  width: 100%;
  margin: 0px auto;
  padding: 20px 0px;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-sizing: border-box;
  box-sizing: border-box;
}

header #header__box h1 {
  width: 155px;
  margin: 0 auto;
}

header #header__box h1 img {
  width: 155px;
}

header #header__box .header__nav {
  position: absolute;
  left: 20px;
  top: 25px;
}

header #header__box .header__nav li {
  margin-right: 30px;
  font-size: 17px;
}

header #header__box .header__nav li i {
  margin-right: 8px;
}

header #header__box .header__user {
  position: absolute;
  right: 20px;
  top: 18px;
}

header #header__box ul li {
  display: inline-block;
  color: #808080;
  font-size: 16px;
}

header #header__box ul li a {
  color: #b0b1b3;
}

header #header__box ul li span.icon {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 8px;
  border-radius: 38px;
  background: #e5e5e5;
  font-size: 17px;
  color: #b0b1b3;
  text-align: center;
  line-height: 38px;
}

header #header__box ul li .logout {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
  font-size: 13px;
}

header #header__box ul li .logout:hover {
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
  background: #e5e5e5;
  color: #b0b1b3;
}

.ptcolor {
  color: #407ceb;
}

.txr {
  text-align: right !important;
}

.txc {
  text-align: center !important;
}

.txl {
  text-align: left !important;
}

input[type="text"],
input[type="number"] {
  display: inline-block;
  height: 35px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  color: #b0b1b3;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ebeef7;
}

.chked_area > label {
  margin-right: 10px;
}

.pagenation {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.pagenation ul {
  display: inline-block;
  margin: 0 auto;
}

.pagenation ul li {
  float: left;
  border: 1px solid #e5e5e5;
  margin-left: -1px;
}

.pagenation ul li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagenation ul li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagenation ul li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #407ceb;
}

.pagenation ul li .current {
  background: #407ceb;
  color: #ffffff;
}

[class^="btns__area"][class$="--right"] {
  text-align: right;
}

[class^="btns__area"][class$="--right"] [class^="btn__"] {
  margin-left: 8px;
}

[class^="btns__area"][class$="--center"] {
  text-align: center;
}

[class^="btns__area"][class$="--center"] [class^="btn__"] {
  margin-left: 8px;
}

[class^="btn__basic"] {
  display: inline-block;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-sizing: border-box;
  box-sizing: border-box;
}

[class^="btn__basic"][class$="--large"] {
  width: 290px;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  background: #407ceb;
  color: #ffffff;
}

[class^="btn__basic"][class$="--large"]:hover {
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
  background: #3772DE;
}

[class^="btn__basic"][class$="--small"] {
  height: 30px;
  line-height: 30px;
  padding: 0px 15px;
  text-align: center;
  font-size: 13px;
  background: #407ceb;
  color: #ffffff;
}

[class^="btn__basic"][class$="--small"]:hover {
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
  background: #3772DE;
}

[class^="button__area"] {
  clear: both;
  width: 100%;
  margin-top: 40px;
}

[class^="button__area"][class$="--center"] {
  text-align: center;
}

[class^="button__area"][class$="--right"] {
  text-align: right;
}

[class^="button__area"][class$="--left"] {
  text-align: left;
}

[class^="button__"] {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  min-width: 130px;
  padding: 0px 10px;
  font-size: 18px;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-sizing: border-box;
  box-sizing: border-box;
}

[class^="button__"][class$="__primary"] {
  background: #407ceb;
  color: #ffffff;
}

[class^="button__"][class$="__primary"]:hover {
  background: #3772DE;
}

[class^="button__"][class$="__cancle"] {
  background: #e5e5e5;
  color: #808080;
}

[class^="button__"][class$="__cancle"]:hover {
  background: #C7C7C7;
}

[class^="btn__small"] {
  display: inline-block;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-sizing: border-box;
  box-sizing: border-box;
}

[class^="btn__small"][class$="--primary"] {
  background: #407ceb;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 10px;
}

[class^="btn__small"][class$="--secondary"] {
  border: 1px solid #407ceb;
  color: #407ceb;
  font-size: 13px;
  padding: 5px 10px;
}

[class^="btn__small"][class$="--delete"] {
  background: #b0b1b3;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 10px;
}

@media screen and (min-width: 1201px) {
  #header__box {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1921px) {
  header #header__box {
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 0;
  }
  header #header__box .header__nav {
    position: absolute;
    left: 0px;
    top: 25px;
  }
  header #header__box .header__user {
    position: absolute;
    right: 0px;
    top: 18px;
  }
}
/*# sourceMappingURL=common.css.map */