@import 'mixin.scss';
$primaryColor:#407ceb;
$secondaryColor:#ffb549;
$tertiaryColor:#58c9b9;
$warningColor:#ff5f7c;
$backgroundColor:#f6f7fb;
$lightGray:#e5e5e5;
$subColor1:#b0b1b3;
$subColor2:#30333a;
$primaryHover: #3772DE;
$cancleHover: #C7C7C7;
$inputBorder: #ebeef7;
$titleColor:#808080;

@mixin boxShadow {
  -moz-box-shadow:0px 3px 6px #cccccc;
  -webkit-box-shadow:0px 3px 6px #cccccc;
  box-shadow:0px 3px 6px #cccccc;
}
@mixin boxSizing {
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-sizing:border-box;
  box-sizing:border-box;
}
@mixin transition {
  transition:all 0.3s ease-in-out 0.1s;
}
@mixin boxRound4 {
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

body {
  min-width:1200px;
  background:$backgroundColor;
}

header {
  width:100%;
  height:80px;
  background:#ffffff;
  @include boxShadow();
  #header__box {
    position:relative;
    width:100%;
    margin: 0px auto;
    padding: 20px 0px;
    @include boxSizing();    
    h1 {
      width:155px;
      margin:0 auto;
      img {
        width:155px;
      }
    }
    .header__nav {
      position: absolute;
      left: 20px;
      top: 25px;
      li {
        margin-right: 30px;
        font-size: 17px;
        i {
          margin-right:8px;
        }
      }  
    }
    .header__user {
      position: absolute;
      right:20px;
      top:18px;
    }
    ul li {
      display:inline-block;
      color:#808080;
      font-size: 16px;
      a {
        color:$subColor1;
      }
      span.icon {
        display: inline-block;
        width: 38px;
        height:38px;
        margin-right: 8px;
        border-radius: 38px;        
        background:$lightGray;
        font-size: 17px;
        color:$subColor1;
        text-align: center;
        line-height: 38px;        
      }
      .logout {
        display:inline-block;
        width:100px;
        height:30px;
        line-height: 30px;
        margin-left: 10px;
        border-radius: 4px;
        border: 1px solid $lightGray;
        color:$lightGray;
        font-size:13px;
        &:hover {
          @include transition();
          background:$lightGray;
          color:$subColor1;
        }
      }
    }
  }
}

.ptcolor {
  color:$primaryColor;
}
.txr {
  text-align: right !important;
}
.txc {
  text-align: center !important;
}
.txl {
  text-align: left !important;
}
// 인풋 스타일
input[type="text"],
input[type="number"] {
  display: inline-block;
  height: 35px;  
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  color: $subColor1;
  @include boxRound4();
  @include boxSizing();    
  border: 1px solid $inputBorder;
}
.chked_area > label {
  margin-right: 10px;
}

// 페이지네이션
.pagenation {
  overflow: hidden;
  width: 100%;  
  margin-top: 20px;
  text-align: center;
  ul {
    display:inline-block;    
    margin: 0 auto;
    li {
      float:left;
      border: 1px solid $lightGray;
      margin-left: -1px;               
      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: $primaryColor;        
      }       
      .current {
        background: $primaryColor;
        color:#ffffff;
      }
    }
  }
}

// 버튼타입
[class^="btns__area"] {
  &[class$="--right"] {
    text-align: right;
    [class^="btn__"] {
      margin-left: 8px;
    }     
  }
  &[class$="--center"] {
    text-align: center;
    [class^="btn__"] {
      margin-left: 8px;
    }     
  }
}
[class^="btn__basic"] {
  display:inline-block;
  @include boxRound4();
  @include boxSizing();
  &[class$="--large"] {
    width: 290px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;    
    background: $primaryColor;
    color:#ffffff;
    &:hover {
      @include transition();            
      background:$primaryHover;
    }
  }  
  &[class$="--small"] {    
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
    text-align: center;
    font-size: 13px;    
    background: $primaryColor;
    color:#ffffff;
    &:hover {
      @include transition();            
      background:$primaryHover;
    }
  }
}

[class^="button__area"] {
  clear: both;
  width: 100%;
  margin-top: 40px;
  &[class$="--center"] {
    text-align: center;
  }  
  &[class$="--right"] {
    text-align: right;
  }  
  &[class$="--left"] {
    text-align: left;
  }  
}

[class^="button__"] {
  display:inline-block;
  height: 50px;
  line-height: 50px;
  min-width: 130px;
  padding: 0px 10px; 
  font-size: 18px; 
  @include boxRound4();
  @include boxSizing();
  &[class$="__primary"] {
    background: $primaryColor;
    color: #ffffff;
    &:hover {
      background: $primaryHover;
    }
  }
  &[class$="__cancle"] {
    background: $lightGray;
    color: $titleColor;
    &:hover {
      background: $cancleHover;
    }
  }
}

[class^="btn__small"] {
  display:inline-block;
  @include boxRound4();
  @include boxSizing();
  &[class$="--primary"] {
    background: $primaryColor;
    color:#ffffff;
    font-size: 13px;
    padding: 5px 10px;        
  }
  &[class$="--secondary"] {
    border: 1px solid $primaryColor;
    color:$primaryColor;
    font-size: 13px;
    padding: 5px 10px;        
  }
  &[class$="--delete"] {
    background: $subColor1;
    color:#ffffff;
    font-size: 13px;
    padding: 5px 10px;        
  }
}

@include pc-only {
  #header__box {
    background: #cccccc;    
    margin:0 auto;    
  }
}


@include pc-large {
  header {
    #header__box {
      background: #ffb549;   
      max-width: 1920px; 
      margin:0 auto;
      padding:20px 0;
      .header__nav {
        position: absolute;
        left:0px;
        top: 25px;
      }
      .header__user {
        position: absolute;
        right:0px;
        top:18px;
      }
    }   
  } // header
} //pc-large 


