@import 'mixin.scss';
$primaryColor:#407ceb;
$secondaryColor:#ffb549;
$secondaryHover:#FF9F3E;
$tertiaryColor:#58c9b9;
$warningColor:#ff5f7c;
$backgroundColor:#f6f7fb;
$lightGray:#e5e5e5;
$subColor1:#b0b1b3;
$subColor2:#30333a;
$titleColor:#808080;
$inputBorder:#ebeef7;
$searchArea:330px;
@mixin iconFont {
  font-family:'aibox';
}
@mixin boxShadow {
  -moz-box-shadow:0px 5px 10px #b0b1b3;
  -webkit-box-shadow:0px 5px 10px #b0b1b3;
  box-shadow:0px 5px 10px #b0b1b3;
}
@mixin boxSizing {
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-sizing:border-box;
  box-sizing:border-box;
}
@mixin boxRound8 {
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
@mixin boxRound4 {
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
@mixin transition {
  transition:all 0.3s ease-in-out 0.1s;
}

#login__box {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  width:440px;
  height:520px;
  padding:80px 55px;
  background:#ffffff;
  @include boxSizing();
  @include boxShadow();
  @include boxRound8();
  h1 {
    margin-bottom:65px;
    text-align:center;
  }
  .login__label {
    padding-left:15px;
    font-weight:bold;
    color:$primaryColor;
  }
  .input {
    width:330px;
    height:45px;
    padding:15px 20px;
    margin-bottom:25px;
    border-radius:35px;
    border-color:#ebeef7;
    background:$backgroundColor;
    @include boxSizing();
  }

  .login__button input {
    width:330px;
    height:45px;
    border-radius:45px;
    border:0;
    background:$primaryColor;
    font-size:17px;
    color:#ffffff;
    &:hover {
      @include transition();
      -moz-box-shadow:inset 0px 0px 10px rgba(68,68,68,0.6);
      -webkit-box-shadow:inset 0px 0px 10px rgba(68,68,68,0.6);
      box-shadow:inset 0px 0px 10px rgba(68,68,68,0.6);
    }
  }
}
#menu_area {
  width:1100px;
  margin:70px auto 0;
  text-align:center;
  ul li {
    display:inline-block;
  }
  a {
    display:block;
    width:330px;
    height:400px;
    margin:15px;
    .menu_box {
      position:relative;
      height:400px;
      padding:30px;
      background:#ffffff;
      @include boxSizing();
      @include boxShadow();
      @include boxRound8();
      h2 {
        position:absolute;
        top:230px;
        left:30px;
        width:270px;
        color:$subColor2;
        font-size:24px;
        font-weight:bold;
        text-align:left;
        @include transition();
      }
      p {
        position:absolute;
        top:270px;
        left:30px;
        width:270px;
        color:$subColor1;
        font-size:18px;
        text-align:left;
        line-height:130%;
      }
      &:hover h2 {
        top:220px;
        color:$primaryColor;
        @include transition();
      }
      &:hover h2.green {
        top:220px;
        color:$tertiaryColor;
        @include transition();
      }
      &:hover h2.pink {
        top:220px;
        color:$warningColor;
        @include transition();
      }
      &:hover p {
        color:$subColor2;
        @include transition();
      }
    }
  }
} //#menu_area 

#container {
  min-width:1200px;
  margin:0 auto;
  padding:15px 20px 0;
  @include boxSizing();
}
#page__title {
  overflow:hidden;
  margin-bottom:15px;
  h2 {
    float:left;
    font-size:24px;
    font-weight:bold;
    color:$subColor2;
  }
  .breadcrumb {
    overflow:hidden;
    float:right;
    margin-top:10px;
    li {
      float:left;
      padding:0 4px;
      color:$subColor1;
      line-height:120%;
      &:after {
        padding-left:10px;
        content:'>';
      }
      &:last-child:after {
        content:'';
      }
    }
  }
}

#search__area {
  float:left;
  width:330px;
  padding:20px 20px;
  background:#ffffff;
  @include boxSizing();
  @include boxRound8();
  @include boxShadow();
  h3 {
    margin-bottom:15px;
    color:$subColor2;
    font-size:20px;
    font-weight:bold;
  }
  h4 {
    margin-bottom:5px;
    font-size:16px;
    color:$titleColor;
  }
  [class^='search__'] {
    margin-top:15px;
  }
}
.search__select {
  select {
    width:100%;
    padding:10px;
    font-size:16px;
    color:$subColor1;
    @include boxRound4();
    @include boxSizing();
    border:1px solid $inputBorder;
  }
}
.search__input {
  input {
    width:100%;
    padding:10px;
    font-size:16px;
    color:$subColor1;
    @include boxRound4();
    @include boxSizing();
    border:1px solid $inputBorder;
  }
}

#content {
  overflow:hidden;
  width:cal(100% - #{300px});
  min-height:600px;
  padding:20px;
  margin-left:350px;
  background:#ffffff;
  @include boxSizing();
  @include boxRound8();
  @include boxShadow();
  .table__title {
    overflow:hidden;
    margin-bottom:10px;
    line-height:30px;
    h3 {
      float:left;
      margin-right:10px;
      color:$subColor2;
      font-size:20px;
      font-weight:bold;
    }
  }
}  // content
#content p[class^='table__title'] {
  float:left;
  color:$subColor1;
  &[class$='--all'] {
    &:before {
      padding-right:10px;
      content:'|';
    }
  }
}
.jqgrid {
  width:100%;
  min-height:600px;
  background:$backgroundColor;
}

.image_area {
  float:left;
  width:400px;
  p {
    width:400px;
    height:300px;
    margin-bottom:12px;
    background:$lightGray;
  }
  .img_button {
    display:inline-block;
    width:190px;
    height:35px;
    line-height:35px;
    text-align:center;
    color:$titleColor;
    @include boxRound4();
    border:1px solid $titleColor;
  }
  .img_button+.img_button {
    margin-left:12px;
  }
}
.input_area {
  float:left;
  width:calc(100% - #{400px});
  padding-left:10px;
  @include boxSizing();
  h4 {
    margin-bottom:10px;
    font-size:18px;
    font-weight:500;
  }
  .view__input {
    margin-bottom:20px;
    h5 {
      margin-bottom:5px;
      font-weight:normal;
    }
    input[type='text'] {
      width:100%;
    }
  }
  .view__input--100 {
    h5 {
      font-weight:normal;
      margin-right:5px;
    }
  }
} 
.box__list {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1px;
  background: #4a4a4a;
  @include boxRound4();
  @include boxSizing();
  font-size: 11px;
  h4 {
    padding: 10px 10px;
    color: #ffffff;
  }
  table {
    width: 100%;
    th,td {
      padding: 0px 5px;
    }
    th {
      background: $backgroundColor;
    }
    td {
      background:#ffffff;
    }
  }    
  .btn__add {
    display:inline-block;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:30px;
    height:30px;
    color: #ffffff;
    &:hover {
      color:$secondaryColor;
    }
    i {
      font-size: 30px;      
      }
    }    
}
.box__list--hover {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.8);
  text-align: center;
  @include boxRound4();
  h4 {
    margin-top: 30px;
  }
  ul li {
    display:inline-block;
  }
  ul li > a {
    display: inline-block;
    color: #ffffff;
    width: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    @include boxRound4();
    &[class$='--modify'] {
      background: $primaryColor;
    }
    &[class$='--delete'] {
      background: $subColor1;
    }
  }
}
// 레이어팝업
[class^='popup__box'] {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  z-index:200;
  &[class$='--style01'] {
    width:450px;
    height:670px;
    background:#ffffff;
    @include boxRound8();
  }
  &[class$='--style02'] {
    width:800px;
    height:810px;
    background:#ffffff;
    @include boxRound8();
    .popup__content {
      height:300px;
      padding:0;
      [class$='__select'] select {
        width:100%;
        padding:3px 5px;
        font-size:13px;
        color:$subColor1;
        @include boxRound4();
        @include boxSizing();
        border:1px solid $inputBorder;
      }
    }
  }
  &[class$='--style03'] {
    width:450px;
    height:310px;
    background:#ffffff;
    @include boxRound8();
    .popup__content {
      height:180px;          
    }
  }
}
[class^='popup__title'] {
  position:relative;
  width:100%;
  height:60px;
  padding:15px 20px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  background:$primaryColor;
  color:#ffffff;
  @include boxSizing();
  h3 {
    font-weight:500;
    font-size:20px;
    color:#ffffff;
  }
  .popup_close {
    position:absolute;
    top:20px;
    right:20px;
  }
}
[class^='popup__content'] {
  height:520px;
  overflow-y:auto;
  padding:20px;
  [class$='__select'] select {
    width:100%;
    padding:5px 10px;
    font-size:16px;
    color:$subColor1;
    @include boxRound4();
    @include boxSizing();
    border:1px solid $inputBorder;
  }
  [class$='__input'] .wrong_txt {
    display:block;
    text-align:right;
    font-size:13px;
    color:$warningColor;
    &:before {
      padding-left:10px;
      content:'*';
    }
  }
  [class$='__input'] input {
    width:100%;
    padding:5px 10px;
    font-size:16px;
    color:$subColor1;
    @include boxRound4();
    @include boxSizing();
    border:1px solid $inputBorder;
  }
  [class$='__input'] .wrong {
    border-color:$warningColor;
  }
  [class^='popup__'] {
    margin-bottom:15px;
  }
  h4 {
    margin-bottom:5px;
    font-size:16px;
  }
  .check {
    display:inline-block;
    width:120px;
    height:35px;
    line-height:35px;
    margin-left:10px;
    background:#808080;
    text-align:center;
    color:#ffffff;
    @include boxRound4();
    &:hover {
      background:#646464;
    }
  }
}
#popup__wrap {
  .content__top {
    overflow: hidden;
    padding: 10px 20px;
    background: $backgroundColor;
    .popup__select {
      float: left;
      width: 160px;
    }
    .popup__select + .popup__select {
      margin-left: 10px;
    }
    [class$='__select'] select {
      width:100%;
      padding:3px 5px;
      font-size:13px;
      color:$subColor1;
      @include boxRound4();
      @include boxSizing();
      border:1px solid $inputBorder;
    }
    .btn__search {
      display:inline-block;
      width: 70px;
      height: 29px;
      margin-left: 10px;
      line-height: 29px;
      text-align: center;
      color: #ffffff;
      background: $primaryColor;
      @include boxRound4();      
    }
  }
}

.roi_image {
  width:100%;
  height:400px;
  background:$secondaryColor;
}
.roi_tbl {
  border-collapse:collapse;
  border-spacing:0;
  th {
    padding:10px 10px;
    background:$lightGray;
    font-size:16px;
    text-align:left;
    .btn__add {
      display:inline-block;
      padding: 5px 10px;      
      font-size: 13px;
      background:$secondaryColor;
      color: #ffffff;
      @include boxRound4();
      &:hover {
        background: $secondaryHover;
      }
    }
  }
  td {
    padding:10px 10px;
    color:$subColor1;
    vertical-align:middle;
    border-bottom:1px solid $backgroundColor;
    .popup__select {
      margin-bottom: 0;
    }    
  }
}
[class^='popup__bottom'] {
  width:100%;
  height:50px;
  background:$backgroundColor;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  li {
    float:left;
    width:50%;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:18px;
    @include boxSizing();
    &:first-child {
      border-right:1px solid $lightGray;
    }
    .save {
      color:$primaryColor;
    }
    .close {
      color:$subColor1;
    }
    a:hover {
      font-weight:500;
    }
  }
}
.popup__bg {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  z-index:160;
}


@include pc-only {
  .view__input {
    float:left;
    width:50%;
    padding-right:15px;
    @include boxSizing();
  }
  .view__input--100 {
    width:100%;
    h5 {
      font-weight:normal;
      margin-right:5px;
    }
  }
}


@include pc-large {
  #container {
    max-width:1920px;
    padding:15px 0 0;
  }
}
